<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.purplemad.WallpaperPlugin"
    version="0.1.0">
    <name>Wallpaper</name>
    <description>Sample PhoneGap Wallpaper Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,wallpaper</keywords>
    
    
    <js-module src="www/wallpaper.js" name="Wallpaper">
        <clobbers target="window.WallpaperPlugin" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Wallpaper">
                <param name="android-package" value="com.purplemad.WallpaperPlugin.Wallpaper"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/Wallpaper.java" target-dir="src/com/purplemad/WallpaperPlugin" />
    </platform>
</plugin>